
html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

#location-search-box
{
	width: 100%;
	height: 100%;
}

#map-canvas
{
	width: 100%;
	height: 600px;
}

.infoBox
{
	border: 2px solid #000;
	border-radius: 10%;
	color: #FFF;
	background: #00F;
	opacity: 0.5;
}
